<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My blog</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <%- include("partials/navbar.ejs") %>
            <h1 class="display-4">Silence: All posts </h1>
            <p class="lead"></p>
    </div>

    <div class="container">
        <!-- <h1>All posts</h1> -->
        <p>Total count:
            <%- posts.length %>
        </p>
        <div class="container">
            <%- include("partials/inputSearch.ejs") %>
        </div>

        <div class="row row-cols-1 row-cols-md-2 ">
            <div class="col">
                <% posts.slice(0, Math.round(posts.length/2)).forEach(function(post) { %>
                    <%- include("partials/postCards.ejs", {post,isEditable:false}) %>

                        <% }) %>
            </div>
            <div class="col">
                <% posts.slice(Math.round(posts.length/2)).forEach(function(post) { %>
                    <%- include("partials/postCards.ejs", {post,isEditable:false}) %>

                        <% }) %>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/inputSearch.js"></script>

</body>

</html>