<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <%- include("partials/navbar.ejs") %>
            <h1> My Posts</h1>
            <p>Total count:
                <%- posts.lengh %>
            </p>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% posts.forEach(function(post) { %>
                        <tr>
                            <td>
                                <%- post["title"] %>
                            </td>
                            <td>
                                <%- post["userName"] %>
                            </td>
                            <td>
                                <%- post["category"] %>
                            </td>
                            <td>
                                <a href="/posts/<%- post['id'] %>" class="btn btn-primary">Show</a>
                                <a href="/posts/<%- post['id'] %>/edit" class="btn btn-primary">Edit</a>
                                <a href="/posts/<%- post['id'] %>/delete" class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <a href="/npost" class="btn btn-primary">Create New Post</a>
    </div>

    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
</body>

</html>